<% layout("/layouts/boilerplate") %>

<div class="edit-listing-form">
  <h2 class="mt-4 mb-4">Edit Listing</h2>
  <hr />
  <form
    method="post"
    action="/listings/<%= listing._id %>?_method=PUT"
    class="needs-validation"
    novalidate
    enctype="multipart/form-data"
  >
    <div>
      <label for="title" class="form-label">Title</label>
      <input
        type="text"
        name="listing[title]"
        placeholder="Add title"
        class="form-control focus-ring focus-ring-danger py-1 px-1 ps-2"
        value="<%= listing.title %>"
        required
      />
      <div class="valid-feedback">Looks good!</div>
      <div class="invalid-feedback">Please choose a title.</div>
    </div>
    <br />
    <div>
      <label for="description" class="form-label">Description</label>
      <textarea
        type="text"
        name="listing[description]"
        placeholder="Add description"
        class="form-control focus-ring focus-ring-danger py-1 px-1 ps-2"
        rows="5"
        required
      >
<%= listing.description %></textarea
      >
      <div class="valid-feedback">Looks good!</div>
      <div class="invalid-feedback">Please choose a description.</div>
    </div>
    <br />
    <div>
      <label for="category" class="form-label form-priceCategory"
        >Listing Category</label
      >
      <select
        class="form-select form-select focus-ring focus-ring-danger py-1 px-1 ps-2"
        aria-label="Default select example"
        name="listing[category]"
      >
      <option value="room" <% if (listing.category === 'room'){ %> selected <% } %>>Room</option>
      <option value="countryside" <% if (listing.category === 'countryside'){ %> selected <% } %>>Country Side</option>
      <option value="camp" <% if (listing.category === 'camp'){ %> selected <% } %>>Camp</option>
      <option value="city" <% if (listing.category === 'city'){ %> selected <% } %>>City</option>
      <option value="beach" <% if (listing.category === 'beach'){ %> selected <% } %>>Beach</option>
      <option value="mansion" <% if (listing.category === 'mansion'){ %> selected <% } %>>Mansion</option>
      <option value="pool" <% if (listing.category === 'pool'){ %> selected <% } %>>Pool</option>
      <option value="restraunt" <% if (listing.category === 'restraunt'){ %> selected <% } %>>Restraunt</option>
      <option value="village" <% if (listing.category === 'village'){ %> selected <% } %>>Village</option>
      <option value="arctic" <% if (listing.category === 'arctic'){ %> selected <% } %>>Arctic</option>
      <option value="treehouse" <% if (listing.category === 'treehouse'){ %> selected <% } %>>Tree House</option>
      <option value="gaming" <% if (listing.category === 'gaming'){ %> selected <% } %>>Gaming</option>
      <option value="sport" <% if (listing.category === 'sport'){ %> selected <% } %>>Sports</option>
      </select>
    </div>
    <br />
    <div class="mb-3">
      Original Image <br />
      <img
        name="image"
        src="<%= originalImgUrl %>"
        alt="<%= listing.image.filename %>"
      />
    </div>
    <div>
      <label for="image" class="form-label">Upload Image</label>
      <input
        type="file"
        name="listing[image]"
        class="form-control focus-ring focus-ring-danger py-1 px-1 ps-2"
      />
      <div class="valid-feedback">Looks good!</div>
      <div class="invalid-feedback">Please choose a image.</div>
    </div>
    <br />
    <div class="row">
      <div class="col-md-6">
        <label for="price" class="form-label">Price</label>
        <input
          type="number"
          name="listing[price]"
          placeholder="Add price"
          class="form-control focus-ring focus-ring-danger py-1 px-1 ps-2"
          value="<%= listing.price %>"
          required
        />
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please enter a valid price.</div>
      </div>
      <div class="col-md-6">
        <label for="priceCategory" class="form-label form-priceCategory"
          >Price Category</label
        >
        <select
          class="form-select form-select focus-ring focus-ring-danger py-1 px-1 ps-2"
          aria-label="Default select example"
          name="listing[priceCategory]"
        >
          <option value="/night" <% if (listing.category === '/night'){ %> selected <% } %>>per night</option>
          <option value="/person" <% if (listing.category === '/person'){ %> selected <% } %>>per person</option>
          <option value="/hour" <% if (listing.category === '/hour'){ %> selected <% } %>>per hour</option>
        </select>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-md-6">
        <label for="country" class="form-label">Country</label>
        <input
          type="text"
          name="listing[country]"
          placeholder="Add country"
          class="form-control focus-ring focus-ring-danger py-1 px-1 ps-2"
          value="<%= listing.country %>"
          required
        />
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please choose a country.</div>
      </div>
      <div class="col-md-6">
        <label for="location" class="form-label form-location">Location</label>
        <input
          type="text"
          name="listing[location]"
          placeholder="Add location"
          class="form-control focus-ring focus-ring-danger py-1 px-1 ps-2"
          value="<%= listing.location %>"
          required
        />
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please choose a location.</div>
      </div>
    </div>
    <br />
    <button type="submit" class="btn btn-danger btn-md btn-new-list">
      Submit
    </button>
  </form>
</div>
