<% layout("/layouts/boilerplate") %>

<div class="index-search-form">
  <form
    class="d-flex search-form"
    role="search"
    method="get"
    action="/listings"
  >
    <input
      class="form-control me-2 border border-secondary rounded-pill focus-ring focus-ring-danger py-1 px-1 ps-2 pe-5"
      type="text"
      name="search"
      placeholder="Search by country"
      aria-label="Search"
      list="suggestions"
    />
    <datalist id="suggestions">
      <option value="India"></option>
      <option value="United States"></option>
      <option value="United Kingdom"></option>
      <option value="Fiji"></option>
    </datalist>

    <button class="btn btn-danger rounded-circle" type="submit">
      <i class="fa-solid fa-magnifying-glass"></i>
    </button>
  </form>
</div>
<div id="filters">
  <div class="dropdown">
    <button
      class="btn btn-light dropdown-toggle filters-dropdown"
      type="button"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      Filters
    </button>
    <ul class="dropdown-menu">
      <li>
        <div class="filter-options-dropdown">
          <a href="/listings?search=beach" class="filter-options-links">
            <p><i class="fa-solid fa-umbrella-beach"></i> Beach</p>
          </a>
        </div>
      </li>
      <hr />
      <li>
        <div class="filter-options-dropdown">
          <a href="/listings?search=room" class="filter-options-links">
            <p><i class="fa-solid fa-bed"></i> Rooms</p>
          </a>
        </div>
      </li>
      <hr />
      <li>
        <div class="filter-options-dropdown">
          <a href="/listings?search=countryside" class="filter-options-links">
            <p><i class="fa-solid fa-mountain-city"></i> Country Side</p>
          </a>
        </div>
      </li>
      <hr />
      <li>
        <div class="filter-options-dropdown">
          <a href="/listings?search=camp" class="filter-options-links">
            <p><i class="fa-solid fa-tent"></i> Camp</p>
          </a>
        </div>
      </li>
      <hr />
      <li>
        <div class="filter-options-dropdown">
          <a href="/listings?search=city" class="filter-options-links">
            <p><i class="fa-solid fa-city"></i> City</p>
          </a>
        </div>
      </li>
      <hr />
      <li>
        <div class="filter-options-dropdown">
          <a href="/listings?search=mansion" class="filter-options-links">
            <p><i class="fa-brands fa-fort-awesome"></i> Mansions</p>
          </a>
        </div>
      </li>
      <hr />
      <li>
        <div class="filter-options-dropdown">
          <a href="/listings?search=pool" class="filter-options-links">
            <p><i class="fa-solid fa-person-swimming"></i> Pool</p>
          </a>
        </div>
      </li>
      <hr />
      <li>
        <div class="filter-options-dropdown">
          <a href="/listings?search=restraunt" class="filter-options-links">
            <p><i class="fa-solid fa-utensils"></i> Restraunts</p>
          </a>
        </div>
      </li>
      <hr />
      <li>
        <div class="filter-options-dropdown">
          <a href="/listings?search=village" class="filter-options-links">
            <p><i class="fa-solid fa-wheat-awn"></i> Village</p>
          </a>
        </div>
      </li>
      <hr />
      <li>
        <div class="filter-options-dropdown">
          <a href="/listings?search=arctic" class="filter-options-links">
            <p><i class="fa-regular fa-snowflake"></i> Arctic</p>
          </a>
        </div>
      </li>
      <hr />
      <li>
        <div class="filter-options-dropdown">
          <a href="/listings?search=treehouse" class="filter-options-links">
            <p><i class="fa-solid fa-tree"></i> Tree House</p>
          </a>
        </div>
      </li>
      <hr />
      <li>
        <div class="filter-options-dropdown">
          <a href="/listings?search=fishing" class="filter-options-links">
            <p><i class="fa-solid fa-gamepad"></i> Gaming</p>
          </a>
        </div>
      </li>
      <hr />
      <li>
        <div class="filter-options-dropdown">
          <a href="/listings?search=sport" class="filter-options-links">
            <p><i class="fa-solid fa-baseball-bat-ball"></i> Sports</p>
          </a>
        </div>
      </li>
      <hr />
    </ul>
  </div>

  <a href="/listings?search=beach" class="filter-options-links">
    <div class="filter-options">
      <i class="fa-solid fa-umbrella-beach"></i>
      <p>Beach</p>
    </div>
  </a>
  <a href="/listings?search=room" class="filter-options-links">
    <div class="filter-options">
      <i class="fa-solid fa-bed"></i>
      <p>Rooms</p>
    </div>
  </a>
  <a href="/listings?search=countryside" class="filter-options-links">
    <div class="filter-options">
      <i class="fa-solid fa-mountain-city"></i>
      <p>Country Side</p>
    </div>
  </a>
  <a href="/listings?search=camp" class="filter-options-links">
    <div class="filter-options">
      <i class="fa-solid fa-tent"></i>
      <p>Camp</p>
    </div>
  </a>
  <a href="/listings?search=city" class="filter-options-links">
    <div class="filter-options">
      <i class="fa-solid fa-city"></i>
      <p>City</p>
    </div>
  </a>
  <a href="/listings?search=mansion" class="filter-options-links">
    <div class="filter-options">
      <i class="fa-brands fa-fort-awesome"></i>
      <p>Mansions</p>
    </div>
  </a>
  <a href="/listings?search=pool" class="filter-options-links">
    <div class="filter-options">
      <i class="fa-solid fa-person-swimming"></i>
      <p>Pool</p>
    </div>
  </a>
  <a href="/listings?search=restraunt" class="filter-options-links">
    <div class="filter-options">
      <i class="fa-solid fa-utensils"></i>
      <p>Restraunts</p>
    </div>
  </a>
  <a href="/listings?search=village" class="filter-options-links">
    <div class="filter-options">
      <i class="fa-solid fa-wheat-awn"></i>
      <p>Village</p>
    </div>
  </a>
  <a href="/listings?search=arctic" class="filter-options-links">
    <div class="filter-options">
      <i class="fa-regular fa-snowflake"></i>
      <p>Arctic</p>
    </div>
  </a>
  <a href="/listings?search=treehouse" class="filter-options-links">
    <div class="filter-options">
      <i class="fa-solid fa-tree"></i>
      <p>Tree House</p>
    </div>
  </a>
  <a href="/listings?search=gaming" class="filter-options-links">
    <div class="filter-options">
      <i class="fa-solid fa-gamepad"></i>
      <p>Gaming</p>
    </div>
  </a>
  <a href="/listings?search=sport" class="filter-options-links">
    <div class="filter-options">
      <i class="fa-solid fa-baseball-bat-ball"></i>
      <p>Sports</p>
    </div>
  </a>

  <div class="tax-info">
    <div class="form-check form-check-reverse">
      <input
        class="form-check-input border border-black"
        type="checkbox"
        value=""
        id="flexCheckDefault"
      />
      <label class="form-check-label" for="flexCheckDefault">
        Display with tax
      </label>
    </div>
  </div>
</div>
<div class="row row-cols-lg-3 row-cols-md-2 mt-3">
  <% for (listing of listings) { %>
  <a href="/listings/<%= listing._id %>" class="listing-link">
    <div class="card col listing-card">
      <img
        src="<%= listing.image.url %>"
        class="card-img-top"
        alt="<%= listing.image.filename %>"
      />
      <div class="card-img-overlay"></div>
      <div class="card-body">
        <p class="card-text">
          <b> <%= listing.title %> </b><br />
          <i
            ><span class="before-tax-value"
              >&#8377;<%= listing.price.toLocaleString("en-IN") %><%=
              listing.priceCategory %></span
            ></i
          >
          <i
            ><span class="after-tax-value"
              >After Tax: &#8377;<%=
              (listing.price+listing.price*(0.08)).toLocaleString("en-IN") %><%=
              listing.priceCategory %></span
            ></i
          >
        </p>
      </div>
    </div>
  </a>
  <% } %>
</div>
<script src="/js/taxInfo.js"></script>
