<% layout("/layouts/boilerplate") %>
<style>
  /* #filters {
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px 0;
  }

  .filter-options {
    display: inline-block; 
    padding: 10px;
    text-align: center;
    vertical-align: top; 
  }

  .filter-options i {
    display: block;
    font-size: 24px;
  }

  .filter-options p {
    margin: 5px 0 0 0;
  } */
</style>
<div class="index-search-form">
  <form
    class="d-flex search-form"
    role="search"
    method="get"
    action="/listings"
  >
    <input
      class="form-control me-2 border border-secondary rounded-pill focus-ring focus-ring-danger py-1 px-1 ps-2 pe-5"
      type="text"
      name="search"
      placeholder="Search by country"
      aria-label="Search"
      list="suggestions"
    />
    <datalist id="suggestions">
      <option value="India"></option>
      <option value="United States"></option>
      <option value="United Kingdom"></option>
      <option value="Fiji"></option>
    </datalist>

    <button class="btn btn-danger rounded-circle" type="submit">
      <i class="fa-solid fa-magnifying-glass"></i>
    </button>
  </form>
</div>
<div id="filters">
  <div class="dropdown">
    <button
      class="btn btn-light dropdown-toggle filters-dropdown"
      type="button"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      Filters
    </button>
    <ul class="dropdown-menu">
      <li>
        <div class="filter-options-dropdown">
          <div>
            <p><i class="fa-solid fa-fire-flame-curved"></i> Trending</p>
          </div>
        </div>
      </li>
      <hr />
      <li>
        <div class="filter-options-dropdown">
          <div>
            <p><i class="fa-solid fa-bed"></i> Rooms</p>
          </div>
        </div>
      </li>
      <hr />
      <li>
        <div class="filter-options-dropdown">
          <div>
            <p><i class="fa-solid fa-mountain-city"></i> Country Side</p>
          </div>
        </div>
      </li>
      <hr />
      <li>
        <div class="filter-options-dropdown">
          <div>
            <p><i class="fa-solid fa-tent"></i> Camp</p>
          </div>
        </div>
      </li>
      <hr />
      <li>
        <div class="filter-options-dropdown">
          <div>
            <p><i class="fa-solid fa-city"></i> City</p>
          </div>
        </div>
      </li>
      <hr />
      <li>
        <div class="filter-options-dropdown">
          <div>
            <p><i class="fa-brands fa-fort-awesome"></i> Mansions</p>
          </div>
        </div>
      </li>
      <hr />
      <li>
        <div class="filter-options-dropdown">
          <div>
            <p><i class="fa-solid fa-person-swimming"></i> Pool</p>
          </div>
        </div>
      </li>
      <hr />
      <li>
        <div class="filter-options-dropdown">
          <div>
            <p><i class="fa-solid fa-utensils"></i> Restraunts</p>
          </div>
        </div>
      </li>
      <hr />
      <li>
        <div class="filter-options-dropdown">
          <div>
            <p><i class="fa-solid fa-wheat-awn"></i> Village</p>
          </div>
        </div>
      </li>
      <hr />
      <li>
        <div class="filter-options-dropdown">
          <div>
            <p><i class="fa-regular fa-snowflake"></i> Arctic</p>
          </div>
        </div>
      </li>
      <hr />
      <li>
        <div class="filter-options-dropdown">
          <div>
            <p><i class="fa-solid fa-tree"></i> Tree House</p>
          </div>
        </div>
      </li>
      <hr />
      <li>
        <div class="filter-options-dropdown">
          <div>
            <p><i class="fa-solid fa-fish"></i> Fishing</p>
          </div>
        </div>
      </li>
      <hr />
      <li>
        <div class="filter-options-dropdown">
          <div>
            <p><i class="fa-solid fa-baseball-bat-ball"></i> Sports</p>
          </div>
        </div>
      </li>
      <hr />
    </ul>
  </div>

  <div class="filter-options">
    <div>
      <i class="fa-solid fa-fire-flame-curved"></i>
      <p>Trending</p>
    </div>
  </div>
  <div class="filter-options">
    <div>
      <i class="fa-solid fa-bed"></i>
      <p>Rooms</p>
    </div>
  </div>
  <div class="filter-options">
    <div>
      <i class="fa-solid fa-mountain-city"></i>
      <p>Country Side</p>
    </div>
  </div>
  <div class="filter-options">
    <div>
      <i class="fa-solid fa-tent"></i>
      <p>Camp</p>
    </div>
  </div>
  <div class="filter-options">
    <div>
      <i class="fa-solid fa-city"></i>
      <p>City</p>
    </div>
  </div>
  <div class="filter-options">
    <div>
      <i class="fa-brands fa-fort-awesome"></i>
      <p>Mansions</p>
    </div>
  </div>
  <div class="filter-options">
    <div>
      <i class="fa-solid fa-person-swimming"></i>
      <p>Pool</p>
    </div>
  </div>
  <div class="filter-options">
    <div>
      <i class="fa-solid fa-utensils"></i>
      <p>Restraunts</p>
    </div>
  </div>
  <div class="filter-options">
    <div>
      <i class="fa-solid fa-wheat-awn"></i>
      <p>Village</p>
    </div>
  </div>
  <div class="filter-options">
    <div>
      <i class="fa-regular fa-snowflake"></i>
      <p>Arctic</p>
    </div>
  </div>
  <div class="filter-options">
    <div>
      <i class="fa-solid fa-tree"></i>
      <p>Tree House</p>
    </div>
  </div>
  <div class="filter-options">
    <div>
      <i class="fa-solid fa-fish"></i>
      <p>Fishing</p>
    </div>
  </div>
  <div class="filter-options">
    <div>
      <i class="fa-solid fa-baseball-bat-ball"></i>
      <p>Sports</p>
    </div>
  </div>
  <div class="tax-info">
    <div class="form-check form-check-reverse">
      <input
        class="form-check-input border border-black"
        type="checkbox"
        value=""
        id="flexCheckDefault"
      />
      <label class="form-check-label" for="flexCheckDefault">
        Display with tax
      </label>
    </div>
  </div>
</div>
<div class="row row-cols-lg-3 row-cols-md-2 mt-3">
  <% for (listing of listings) { %>
  <a href="/listings/<%= listing._id %>" class="listing-link">
    <div class="card col listing-card">
      <img
        src="<%= listing.image.url %>"
        class="card-img-top"
        alt="<%= listing.image.filename %>"
      />
      <div class="card-img-overlay"></div>
      <div class="card-body">
        <p class="card-text">
          <b> <%= listing.title %> </b><br />
          &#8377;<%= listing.price.toLocaleString("en-IN") %>/night &nbsp;&nbsp;
          <i class="tax-value">+18% GST</i>
        </p>
      </div>
    </div>
  </a>
  <% } %>
</div>
<script src="/js/taxInfo.js"></script>
